import React from 'react';
import PropTypes from 'prop-types';

class {{ name }} extends {{{ type }}} {
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ name }}.propTypes = {
};

export default {{ name }};
